*{
    font-family: "Kanit", sans-serif;
    box-sizing: inherit;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
}

h1{
    font-size: 2rem;
    color: #B10031;
    font-weight: 600;
}

a{
    color: #397CE0;
}

body{
    height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}