button{
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: 400;
    text-align: center;
    transition: all .15s ease-in-out;
}
button:active {
    box-shadow: 0 0 2px 3px #65a0df;
}

button:hover {
    background-color: #0069D9;
}

a{
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 23px;
    color: #000;
}

a:visited {
    text-decoration: none;
}

.back{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.back > img{
    width: 3%;
}

*:not(button){
    font-family: "Kanit", sans-serif;
    box-sizing: inherit;
    font-style: normal;
    font-weight: 300;
}

.title{
    text-align: center;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

label{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
    display: inline-block;
    margin-bottom: 0.5rem;
}

input{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    display: block;
    width: 20%;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    overflow: visible;
    margin: 15px 0;
    font-family: inherit;
}